ul{
  margin: 0;
  padding-top: 10px;
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: space-evenly;

}
ul a{
  text-decoration: none;
  color: rgb(243, 233, 233);
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
}
ul a :hover{
  color:rgb(90, 33, 180);
  border-bottom: 5px solid rgb(90, 33, 180);
  transition:  0.3s ease-in-out;
}
.nav{
  height: 50px;
  width: 100%;
  background-color:rgb(52, 142, 216);
  font-size: 26px;
}

@media only screen and (max-width:430px) {
  ul{
    margin: 0;
    padding-top: 5px;
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  
  }
  ul a{
    text-decoration: none;
    color: rgb(243, 233, 233);
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
  }
  ul a :hover{
    color:rgb(90, 33, 180);
    border-bottom: 3px solid rgb(90, 33, 180);
    transition:  0.3s ease-in-out;
  }
  .nav{
    height: 30px;
    width: 100%;
    background-color:rgb(52, 142, 216);
    font-size: 16px;
  }
}